{include file="common/head"/}
<div class="admin-main layui-anim layui-anim-upbit" ng-app="hd" ng-controller="ctrl">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>Top-up Record</legend>
    </fieldset>
    <div class="demoTable layui-form">
        <div class="layui-inline">
            <select name="status" lay-filter="status" ng-model="status" ng-options="v.id as v.title for v in group" ng-selected="v.id==field.status" id="status">
                <option value="">All Statuses</option>
            </select>
        </div>
        <div class="layui-inline">
            <input class="layui-input" name="key" id="key" placeholder="My Registered Email">
        </div>
        <button class="layui-btn" id="search" data-type="reload">Check</button> 
        <div style="clear: both;"></div>
    </div>
    <table class="layui-table" id="list" lay-filter="list"></table>
</div>
<style type="text/css">
     .layui-table-cell {
        height: auto;
        line-height: 28px;
    }
    /*.layui-table-cell {*/
    /*    overflow: visible;*/
    /*}*/
    .layui-table-box {
        overflow: visible;
    }
    .layui-table-body {
        overflow: visible;
    }
    .layui-form-select dl dd{
        text-align: left;
    }
    .red{
        color: red;
    }
    .stab{
        width: 4rem;
        height: 2rem;
        display: block;
        border-radius: 2rem;
        font-size: 12px;
    }
    .layui-btn{
        background-color: #000;
    }
    .btn-d{
        background-color: #FF5722;
    }
    .layui-laypage .layui-laypage-curr .layui-laypage-em {
        background-color: #000;
    }
</style>
{include file="common/foot"/}
<script type="text/html" id="img">
   {{# if(d.pic){ }}<img src=__PUBLIC__/{{d.pic}} />{{# } }}
</script>
<script type="text/html" id="order">
    <input name="{{d.id}}" data-id="{{d.id}}" class="list_order layui-input" value=" {{d.sort}}" size="10"/>
</script>

<script type="text/html" id="status-tab">
    {{# if(d.status == 0) { }}
        <span class="stab" style="color:blue;background:#c5c5f6;">Unverified</span>
    {{# } }}
    {{# if(d.status == 1) { }}
        <span class="stab" style="color:green;background:#bdf7bd;">Verified</span>
    {{# } }}
    {{# if(d.status == 2) { }}
        <span class="stab" style="color:red;background:#f1c9c9;">Invalid</span>
    {{# } }}
</script>
<script type="text/html" id="action">
    <a href="{:url('edit')}?id={{d.id}}" class="layui-btn layui-btn-xs {{d.status == 2 ? 'btn-d': ''}}">view</a>
</script>
<script src="__STATIC__/common/js/angular.min.js"></script>
<script>
    var m = angular.module('hd',[]);
    m.controller('ctrl',['$scope',function($scope) {
        $scope.group = [
            {'id' : 0, 'title' : 'Unverified', 'color' : 'blue'},
            {'id' : 1, 'title' : 'Verified', 'color' : 'green'},
            {'id' : 2, 'title' : 'Invalid', 'color' : 'red'},
        ]
        layui.use(['table','form'], function() {
            
            var table = layui.table,form = layui.form,$ = layui.jquery;
            var tableIn = table.render({
                id: 'product',
                elem: '#list',
                url: '{:url("record")}',
                method: 'post',
                page:true,
                cols: [[
                    //{checkbox: true},
                    //{field: 'id', title: '{:lang("id")}', width: 80, align: 'center'},
                    {field: 'addtime', title: 'Date', width: '25%', align: 'center'},
                    {field: 'email', title: 'User', width: '25%', align: 'center'},
                    {field: 'status', title: 'Status', width: '25%', align: 'center', toolbar:'#status-tab'},
                    //{field: 'open', align: 'center', title: '上下架', width: 100, toolbar: '#open'},
                    {width: '25%', title: 'Information', align: 'center', toolbar: '#action'}
                ]],
                limit:20
            });
            form.on('select(status-tab)', function(obj){
                loading =layer.load(1, {shade: [0.1,'#fff']});
                var id = $(obj.elem).parents('.spid').attr('data-id');
                var status = obj.value;
                $.post('{:url("editState")}',{'id':id,'status':status},function (res) {
                    layer.close(loading);
                    if (res.status==1) {
                        tableIn.reload();
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                        return false;
                    }
                })
            });
            //搜索
            $('#search').on('click', function () {
                var key = $('#key').val();
                var status = $('#status').val();
                if ($.trim(key) === '') {
                    layer.msg('Please Enter Your Registered Email', {icon: 0});
                    return;
                }
                tableIn.reload({
                    where: {key: key,status: status}
                });
            });
            
            form.on('select(status)', function(data) {
                // console.log(data.value);
                var key = $('#key').val();
                var status = $('#status').val();
                tableIn.reload({
                    where: {status: status,key:key}
                });
            });
            table.on('tool(list)', function(obj) {
                var data = obj.data;
                if (obj.event === 'del'){
                    layer.confirm('您确定要删除该歌曲吗？', function(index){
                        var loading = layer.load(1, {shade: [0.1, '#fff']});
                        $.post("{:url('del')}",{id:data.id},function(res){
                            layer.close(loading);
                            if(res.code===1){
                                layer.msg(res.msg,{time:1000,icon:1});
                                tableIn.reload();
                            }else{
                                layer.msg('操作失败！',{time:1000,icon:2});
                            }
                        });
                        layer.close(index);
                    });
                }
            });
            $('body').on('blur','.list_order',function() {
                var id = $(this).attr('data-id');
                var sort = $(this).val();
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post('{:url("proOrder")}',{id:id,sort:sort},function(res){
                    layer.close(loading);
                    if(res.code === 1){
                        layer.msg(res.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    }else{
                        layer.msg(res.msg,{time:1000,icon:2});
                    }
                })
            });
            $('#delAll').click(function(){
                layer.confirm('确认要删除选中的order吗？', {icon: 3}, function(index) {
                    layer.close(index);
                    var checkStatus = table.checkStatus('product'); //test即为参数id设定的值
                    var ids = [];
                    $(checkStatus.data).each(function (i, o) {
                        ids.push(o.id);
                    });
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:url('delall')}", {ids: ids}, function (data) {
                        layer.close(loading);
                        if (data.code === 1) {
                            layer.msg(data.msg, {time: 1000, icon: 1});
                            tableIn.reload();
                        } else {
                            layer.msg(data.msg, {time: 1000, icon: 2});
                        }
                    });
                });
            })
        })
    }]);
</script>